.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 75%;
  border-radius: 1.1rem;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: 'Best value';
  position: absolute;
  top: 6%;
  right: -18%;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  margin-bottom: 3.2rem;
}

.plan-price {
  color: #333;
  font-size: 6.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  margin-right: 0.8rem;
  font-weight: 600;
}

.plan-text {
  color: #6f6f6f;
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 600;
}
