@import url(./hero-section.css);
@import url(./header.css);
@import url(./how-it-works.css);
@import url(./featured-in.css);
@import url(./meals.css);

/* 
--- 01 TYPROGRAPHY SYSTEM

- Font Size (Rem)
1 / 1.2 / 1.4 / 1.6 / 1.8 / 2 / 2.4 / 3 / 3.6 / 4.4 / 5.2 / 6.2 / 7.4 / 8.6 / 9.8

- Font Weights 
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line Height 
Default: 1
Small: 1.05
Medium: 1.2
Paragraph-Default: 1.6

- Letter Spacing
- 0.05rem
-0.075rem 

--- 02 COLORS 

Primary: #e67e22

- Tints: #fdf2e9, #fae5d3
- Shades: #cf711f
- Accents:
- Greys: 
#555
#888
#333

--- 03 SHADOWS 

--- 04 BORDER-RADIUS
Default: 0.7rem
Medium: 1.1rem

--- 05 WHITESPACE

- Spacing System (Rem)
0.2 / 0.4 / 0.8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8 / 9.6 / 12.8

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
  display: none;
}

strong {
  font-weight: 600;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid--cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.margin-right-sm {
  margin-right: 4.8rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 0.7rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  color: #e67e22;
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid #fff;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.05rem;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
